<div class="scoreboard-card" id="user-scoreboard-<%= user.id %>">
    <%= cl_image_tag user.photo, class: 'scoreboard-avatar' %>
    <div class="scoreboard-username">
      <p class="user-paragraph">
        <%= user.username %>
        <%= link_to unfollow_user_path(user), method: :post, remote: true do%>
          <i class="fas fa-trash"></i>
        <% end %>
      </p>
    </div>
    <div class="scoreboard-score">
      <p><%= user.score %></p>
    </div>
</div>
