<% if !user_signed_in? %>
<div class="footer">
  <div class="footer-links">
    <%= link_to "Sign up", new_user_registration_path %>
    <h6>&copy 2019 - Habit Tracker</h6>

<% else %>
<div class="footer">
  <div class="footer-links">
    <%= link_to "Habits", habits_path %>
    <%= link_to "New", new_habit_path %>
    <%= link_to "Scoreboard", scoreboards_path %>
    <%= link_to "Find", users_path %>
    <%= link_to destroy_user_session_path, method: :'delete' do %>
    <i class="fas fa-power-off"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Joao & Romain
  </div>
</div>
<% end %>



